<!DOCTYPE html>
<html>
<head>
	<title> Login Form </title>
	<link rel="stylesheet" a href="{{ url_for('static', filename='style.css')}}">
	<link rel="stylesheet" a href="css\font-awesome.min.css">
</head>
<body>
	<div class="container">
	<img src="https://www.shutterstock.com/shutterstock/photos/2294401515/display_1500/stock-vector-debt-default-trading-screen-background-banking-and-economic-issues-the-concept-of-weakening-2294401515.jpg"/>
		<form method='POST' action=''>
			<div class="form-input">
				
				<input type="email" required name="email" placeholder="Enter your email "/>
			</div>
			<div class="form-input">
				
				<input type="text" required name="name" placeholder="Name"/>
			</div>
			<!-- <input type="submit" type="submit" value="Create Account" class="btn-signup"/> -->
			<input type="submit" type="submit" value="LOGIN" class="btn-login"/>
		</form>
	</div>
</body>
</html>
